/* -----------------------  cell's rest  ------------------------ */

@mixin generateCellRest($breakpoint : null) {

	.cell-rest#{$breakpoint} {
		flex: 1;
		margin-right: $cells_gutter;
		margin-left: $cells_gutter;
	}

	.grid.no-gutters#{$breakpoint} .cell-rest#{$breakpoint},
	.grid.no-gutter-right#{$breakpoint} .cell-rest#{$breakpoint},
	.cell-rest#{$breakpoint}.no-gutters#{$breakpoint},
	.cell-rest#{$breakpoint}.no-gutter-right#{$breakpoint} {
		margin-right: 0;
	}

	.grid.no-gutters#{$breakpoint} .cell-rest#{$breakpoint},
	.grid.no-gutter-left#{$breakpoint} .cell-rest#{$breakpoint},
	.cell-rest#{$breakpoint}.no-gutters#{$breakpoint},
	.cell-rest#{$breakpoint}.no-gutter-left#{$breakpoint} {
		margin-left: 0;
	}
}

/* -----------------------  cells & gutters  ------------------------ */

@mixin generateCells($breakpoint : null) {

	@for $iteratorValue from 1 through $number_of_cells {

		.cell-#{getCellSize($iteratorValue)}#{$breakpoint} {
			flex-basis: getGuttersCellWidth($iteratorValue, $cells_gutter);
			margin-right: $cells_gutter;
			margin-left: $cells_gutter;
			max-width: getGuttersCellWidth($iteratorValue, $cells_gutter);
		}

		.grid.no-gutters#{$breakpoint} .cell-#{getCellSize($iteratorValue)}#{$breakpoint},
		.cell-#{getCellSize($iteratorValue)}#{$breakpoint}.no-gutters#{$breakpoint} {
			flex-basis: getNoGuttersCellWidth($iteratorValue);
			max-width: getNoGuttersCellWidth($iteratorValue);
		}

		.grid.no-gutter-right#{$breakpoint} .cell-#{getCellSize($iteratorValue)}#{$breakpoint},
		.grid.no-gutter-left#{$breakpoint} .cell-#{getCellSize($iteratorValue)}#{$breakpoint},
		.cell-#{getCellSize($iteratorValue)}#{$breakpoint}.no-gutter-right#{$breakpoint},
		.cell-#{getCellSize($iteratorValue)}#{$breakpoint}.no-gutter-left#{$breakpoint} {
			flex-basis: getOneSideGutterCellWidth($iteratorValue, $cells_gutter);
			max-width: getOneSideGutterCellWidth($iteratorValue, $cells_gutter);
		}

		.grid.no-gutters#{$breakpoint} .cell-#{getCellSize($iteratorValue)}#{$breakpoint},
		.grid.no-gutter-right#{$breakpoint} .cell-#{getCellSize($iteratorValue)}#{$breakpoint},
		.cell-#{getCellSize($iteratorValue)}#{$breakpoint}.no-gutters#{$breakpoint},
		.cell-#{getCellSize($iteratorValue)}#{$breakpoint}.no-gutter-right#{$breakpoint} {
			margin-right: 0;
		}

		.grid.no-gutters#{$breakpoint} .cell-#{getCellSize($iteratorValue)}#{$breakpoint},
		.grid.no-gutter-left#{$breakpoint} .cell-#{getCellSize($iteratorValue)}#{$breakpoint},
		.cell-#{getCellSize($iteratorValue)}#{$breakpoint}.no-gutters#{$breakpoint},
		.cell-#{getCellSize($iteratorValue)}#{$breakpoint}.no-gutter-left#{$breakpoint} {
			margin-left: 0;
		}

	}

}

/* -----------------------  correct cells  ------------------------ */

@mixin generateCorrectCells($breakpoint : null) {

	.grid-column#{$breakpoint} > [class*="cell-"],
	.direction-column#{$breakpoint} > [class*="cell-"],
	.grid-column-reverse#{$breakpoint} > [class*="cell-"],
	.direction-column-reverse#{$breakpoint} > [class*="cell-"] {
		flex-basis: auto;
		max-width: initial;
	}

}

/* -----------------------  cells push and pull  ------------------------ */

@mixin generateCellPushAndPull($breakpoint : null) {

	/* todo : maybe push and pull nogutters  ????*/

	/* :::: push :::: */
	@for $iteratorValue from 1 through ($number_of_cells + 1) {

		[class*="cell-"].push-#{getCellSize($iteratorValue)}#{$breakpoint} {
			left: getNoGuttersCellWidth($iteratorValue);
		}

	}

	/* :::: pull :::: */
	@for $iteratorValue from 1 through ($number_of_cells + 1) {

		[class*="cell-"].pull-#{getCellSize($iteratorValue)}#{$breakpoint} {
			right: getNoGuttersCellWidth($iteratorValue);
		}

	}
}

/* -----------------------  cells offset  ------------------------ */

@mixin generateCellOffset($breakpoint : null) {

	@for $iteratorValue from 1 through ($number_of_cells + 1) {

		[class*="cell-"].offset-#{getCellSize($iteratorValue)}#{$breakpoint} {
			margin-left: calc(#{getNoGuttersCellWidth($iteratorValue)} + #{$cells_gutter});
		}

	}

	/* offset no gutters */

	@for $iteratorValue from 1 through ($number_of_cells + 1) {

		[class*="cell-"].offset-#{getCellSize($iteratorValue)}-no-gutters#{$breakpoint} {
			margin-left: #{getNoGuttersCellWidth($iteratorValue)}
		}

	}
}