/* -----------------------  grid's classes  ------------------------ */

@mixin generateGrid($breakpoint : null) {

	.grid, .direction-row#{$breakpoint} {
		flex-direction: row;
	}

	.grid-reverse#{$breakpoint},
	.direction-row-reverse#{$breakpoint} {
		flex-direction: row-reverse;
	}

	.grid-column#{$breakpoint},
	.direction-column#{$breakpoint} {
		flex-direction: column;
	}

	.grid-column-reverse#{$breakpoint},
	.direction-column-reverse#{$breakpoint} {
		flex-direction: column-reverse;
	}

}