/* -----------------------  displays  ------------------------ */

@mixin generateDisplays($breakpoint : null) {

	.hide#{$breakpoint},
	.none#{$breakpoint} {
		display: none;
	}

	.show#{$breakpoint},
	.block#{$breakpoint} {
		display: block;
	}

	.inline#{$breakpoint} {
		display: inline;
	}

	.inline-block#{$breakpoint},
	.inline#{$breakpoint}.block#{$breakpoint},
	.inline#{$breakpoint}.show#{$breakpoint} {
		display: inline-block;
	}

	.flex#{$breakpoint} {
		@include ap_display-flex()
	}

	.floats-box#{$breakpoint}::after, .floats-box#{$breakpoint}::before {
		content: "";
		display: table;
	}

	.floats-box#{$breakpoint}::after {
		clear: both;
	}
}

/* -----------------------  vertical-align  ------------------------ */

@mixin generateVerticalAlign($breakpoint : null) {

	@each $vertical-align-value in $VERTICAL_ALIGN_VALUES {

		.align-#{nth($vertical-align-value, 1)}#{$breakpoint} {
			vertical-align: #{nth($vertical-align-value, 1)};
		}

	}

}

/* -----------------------  floats  ------------------------ */

@mixin generateFloats($breakpoint : null) {

	.float-none#{$breakpoint} {
		float: none;
	}

	.float-left#{$breakpoint} {
		float: left;
	}

	.float-right#{$breakpoint} {
		float: right;
	}

}

/* -----------------------  width  ------------------------ */

@mixin generateWidth($breakpoint : null) {

	@for $i from 10 through 1 {
		.width-#{$i}0#{$breakpoint} {
			width: #{$i}0%;
		}
	}

	.width-full-screen#{$breakpoint} {
		width: 100vw;
	}

}

/* -----------------------  height  ------------------------ */

@mixin generateHeight($breakpoint : null) {

	@for $i from 10 through 1 {
		.height-#{$i}0#{$breakpoint} {
			height: #{$i}0%;
		}
	}

	.height-full-screen#{$breakpoint} {
		height: 100vh;
	}

}
