/* -----------------------  layout piled  ------------------------ */

@mixin generatePiledLayout($breakpoint : null) {

	form.form div.layout-chained.layout-piled#{$breakpoint} div.chain-link,
	form.form div.layout-piled#{$breakpoint} {

		display: flex;
		flex-direction: column;
		flex: 1;
		flex-basis: 100%;
		align-items: stretch;
		flex-wrap: nowrap;

		> input:not(:last-child),
		> textarea:not(:last-child),
		> select:not(:last-child) {
			margin-right: 0;
		}

		& label {
			flex-basis: initial;
			margin-bottom: 7px;
			margin-right: 0;
		}

		&:not(:first-of-type), > label:not(:first-child) {
			margin-top: 25px;
		}

		> input:not(:first-of-type),
		> select:not(:first-of-type),
		> textarea:not(:first-of-type) {
			margin-top: 0;
		}

	}

	form.form div.layout-chained.layout-piled#{$breakpoint} div.chain-link:not(:last-of-type),
	form.form div.layout-aligned-choices.layout-piled#{$breakpoint} > label.radio:not(:last-of-type),
	form.form div.layout-aligned-choices.layout-piled#{$breakpoint} > label[class*="checkbox"]:not(:last-of-type) {
		margin-right: 0;
	}

	form.form div.layout-chained.layout-piled#{$breakpoint} div.chain-link {
		flex: 0;
		flex-basis: initial;
	}

	form.form div.layout-aligned-choices.layout-piled#{$breakpoint} > label.radio:not(:last-of-type),
	form.form div.layout-aligned-choices.layout-piled#{$breakpoint} > label[class*="checkbox"]:not(:last-of-type) {
		margin-bottom: 0;
	}

}
