*, *::after, *::before {
	@include ap_box-sizing(border-box);
}

*::before {
	z-index: 1;
}

::-moz-selection {
	background: #ecf0f1;
}

::selection {
	background: #ecf0f1;
}

body {
	/*font-family: Segoe Ui, sans-serif;*/
	font-family: $DEFAULT_FONT;
	font-size: $DEFAULT_FONT_SIZE;
	color: $DEFAULT_FONT_COLOR;
	margin: 0;
}

img {
	vertical-align: middle;
}

figure {
	margin: 0;
}

li {
	letter-spacing: normal;
}

p {
	text-align: justify;
	line-height: 1.8;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

code, kbd, pre, samp {
	font-family: "SF Mono", "Segoe UI Mono", "Roboto Mono", Menlo, Courier, monospace;
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}

pre {
	margin: 0;
}

pre, pre code, .editor-content {
	overflow-x: auto;
}

.code {
	position: relative;
}

.code::before {
	color: white;
	content: attr(data-lang);
	position: absolute;
	right: .4rem;
	top: .1rem;
}

.code code {
	background-color: #404852;
	color: white;
	display: block;
	line-height: 1.5;
	padding: 1rem;
	width: 100%;
}

table {
	margin: 0;
	border-spacing: 0;
	border-collapse: collapse;
}

table th {
	text-align: inherit;
}

table td {
	vertical-align: initial;
}

textarea {
	resize: vertical;
}

input[type="radio"],
input[type="checkbox"] {
	margin: 0;
}

.disabled, :disabled {
	opacity: 0.5;
	filter: alpha(opacity=50);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	cursor: not-allowed;
	background-color: #f0f1f4;
}