$wrap_values: (
	nowrap,
	wrap,
	wrap-reverse
);

$justify_content_values: (
	'start': flex-start,
	'end': flex-end,
	'center' : center,
	'between' : space-between,
	'around' : space-around,
	'evenly': space-evenly
);

$align_items_values: (
	'start' : flex-start,
	'end' : flex-end,
	'center' : center,
	'stretch' : stretch,
	'baseline' : baseline
);

$align_content_values: (
	'start' : flex-start,
	'end' : flex-end,
	'center' : center,
	'stretch' : stretch,
	'between' : space-between,
	'around' : space-around
);

$align_self_values: (
	'auto' : auto,
	'start' : flex-start,
	'end' : flex-end,
	'center' : center,
	'baseline' : baseline,
	'stretch' : stretch
);