// todo : add !default as default_cells_margin example

// ::::: FONTS :::::
$text_font: "Open Sans", "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$text_font_size: 14px;
$text_font_color: #404852;
$primary_title_font: "Open Sans", "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$secondary_title_font: "Segoe Ui, sans-serif";
$code_font: "SF Mono", "Segoe UI Mono", "Roboto Mono", Menlo, Courier, monospace;

// ::::: FORM :::::
$CHECKBOX_RADIO_BG_DEFAULT: #eee;
$CHECKBOX_RADIO_PRIMARY_COLOR: #2ecc71;
$CHECKBOX_RADIO_SECONDARY_COLOR: #ffffff;
$CHECKBOX_RADIO_SIZE: 20px;

// ::::: CELLS :::::
$number_of_cells: 12;
$cells_gutter: 15px;

// ::::: MARGIN & PADDING VALUES :::::
$margin_padding_values: (
	0,
	50,
	30,
	15,
	10,
	5
);

// ::::: RESPONSIVE BREAKPOINTS  :::::
$BREAKPOINTS: (
	'xs': (min-width: 480px),
	's': (min-width: 600px),
	'm': (min-width: 768px),
	'l': (min-width: 992px),
	'xl': (min-width: 1200px)
);
