/* ------------------------  Grid  ------------------------ */

[class*="grid"] {
	display: flex;
	flex-wrap: wrap;
}

/* ------------------------  Cells  ------------------------ */

[class*="cell-"] {
	flex-grow: 0;
	position: relative;
}

@include generateCellRest();

@include generateGutters();

@include generateCells();

@include generateCorrectCells();

@include generateCellPushAndPull();

/* :::: offsets :::: */

@include generateCellOffset();

/* ------------------------  direction  ------------------------ */

@include generateFlexDirection();

/* ------------------------  wrap  ------------------------ */

@include generateFlexWrap();

/* ------------------------  justify content  ------------------------ */

@include generateJustifyContent();

/* ------------------------  align items  ------------------------ */

@include generateAlignItems();

/* ------------------------  align content  ------------------------ */

@include generateAlignContent();

/* ------------------------  align vertical  ------------------------ */

@include generateAlignSelf();

/* ------------------------  order  ------------------------ */

@include generateFlexOrder();