/* #########################  start : Grid  ######################### */

[class*="grid"] {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

@include generateGrid();

/* #########################  end : GRID  ######################### */

/* #########################  start : CELLS  ######################### */

[class*="cell-"] {
	flex-grow: 0;
	position: relative;
}

@include generateCellRest();

@include generateCells();

@include generateCorrectCells();

@include generateCellPushAndPull();

/* :::: offsets :::: */

@include generateCellOffset();

/* #########################  end : CELLS  ######################### */

/* #########################  start : FLEX WRAP  ######################### */

@include generateFlexWrap();

/* #########################  end : FLEX WRAP  ######################### */

/* #########################  start : FLEX HORIZONTAL  ######################### */

@include generateJustifyContent();

/* #########################  end : FLEX HORIZONTAL  ######################### */

/* #########################  start : FLEX VERTICAL  ######################### */

@include generateAlignItems();

/* #########################  end : FLEX VERTICAL  ######################### */

/* #########################  start : FLEX ALIGN CONTENT  ######################### */

@include generateAlignContent();

/* #########################  end : FLEX ALIGN CONTENT  ######################### */

/* #########################  start : FLEX SELF ALIGN VERTICAL  ######################### */

@include generateAlignSelf();

/* #########################  end : FLEX SELF ALIGN VERTICAL  ######################### */

/* #########################  start : FLEX ORDER  ######################### */

@include generateFlexOrder();

/* #########################  end : FLEX ORDER  ######################### */